body{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #ff3131 !important;

}

.navbar a{
    color: #fff;
}

.container {
    padding-top: 50px;
}

.col-md-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_svg{
    width: 20px;
    height: 20px;
}

#content{
    -webkit-box-shadow: 8px 3px 32px 20px rgba(135, 135, 135, 0.27);
    -moz-box-shadow: 8px 3px 32px 20px rgba(135, 135, 135, 0.27);
    box-shadow: 8px 3px 32px 20px rgba(135, 135, 135, 0.27);
}

#content .card{
    margin: 20px;
}